name: CI DevSecOps Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: |
          docker build -t devops_sambal:ci .

      - name: Scan dependencies (Trivy)
        uses: aquasecurity/trivy-action@0.20.0
        with:
          image-ref: devops_sambal:ci
          format: table
          exit-code: 1
          severity: HIGH,CRITICAL
